bin
.classpath
.project
.git
.cache
.gradle
.settings
build
config
crash-reports
eclipse
gradle
mods
resourcepacks
saves
stats
ForgeModLoader-*
gradlew
gradlew.bat
output-client*
output-server*
options.txt
src/api
screenshots
.scalastyle
asm